teams:
- name: boringssl-maintainers
  maintainers:
  - dstebila
  members:
  - claucece
  - pi-314159
- name: bots
  maintainers:
  - oqs-bot
- name: core
  maintainers:
  - baentsch
  - dstebila
  members:
  - SWilson4
  - bhess
  - christianpaquin
  - praveksharma
  - vsoftco
- name: liboqs-committers
  maintainers:
  - dstebila
  members:
  - Martyrshot
  - SWilson4
  - ashman-p
  - baentsch
  - bhess
  - christianpaquin
  - cothan
  - jschanck
  - praveksharma
  - thomwiggers
  - vsoftco
- name: liboqs-maintainers
  maintainers:
  - dstebila
  members:
  - baentsch
- name: liboqs-cpp-admins
  maintainers:
  - vsoftco
- name: liboqs-java-committers
  maintainers:
  - ryjones
  members:
  - jimouris
- name: liboqs-go-admins
  maintainers:
  - vsoftco
- name: liboqs-python-admins
  maintainers:
  - vsoftco
- name: libssh-admins
  maintainers:
  - dstebila
  members:
  - christianpaquin
- name: libssh-maintainers
  maintainers:
  - dstebila
- name: openssh-committers
  maintainers:
  - dstebila
  members:
  - geedo0
- name: oqs-provider-codeowners
  maintainers:
  - baentsch
  members:
  - bhess
  - feventura
  - iyanmv
  - thb-sb
- name: oqs-provider-committers
  maintainers:
  - thb-sb
- name: read
  maintainers:
  - dstebila
  members:
  - jplomas
- name: rust
  maintainers:
  - thomwiggers
- name: triage
  maintainers:
  - dstebila
  members:
  - planetf1
  - ajbozarth
  - geedo0
- name: trail-of-bits
  maintainers:
  - SWilson4
  members:
  - fcasal
  - tob-scott-a
- name: tsc
  maintainers:
  - baentsch
  - dstebila
  members:
  - ashman-p
  - bhess
  - brian-jarvis-aws
  - christianpaquin
  - thb-sb
  - vsoftco
- name: www
  maintainers:
  - crockeea
  members:
  - christianpaquin
  - praveksharma
  - SWilson4
  - vsoftco
repositories:
- name: .github
  teams:
    core: read
    tsc: write
  visibility: public
- name: boringssl
  collaborators:
    claucece: write
    pi-314159: write
  teams:
    boringssl-maintainers: write
    bots: write
    core: write
    triage: triage
    tsc: read
  visibility: public
- name: ci-containers
  teams:
    core: write
    triage: triage
    tsc: read
  visibility: public
- name: liboqs
  teams:
    bots: write
    core: write
    liboqs-committers: write
    liboqs-maintainers: maintain
    read: read
    triage: triage
    tsc: read
  visibility: public
- name: liboqs-cpp
  teams:
    core: write
    liboqs-cpp-admins: admin
    triage: triage
    tsc: read
  visibility: public
- name: liboqs-dotnet
  teams:
    bots: write
    core: write
    triage: triage
    tsc: read
  visibility: public
- name: liboqs-go
  teams:
    core: maintain
    liboqs-go-admins: admin
    triage: triage
    tsc: read
  visibility: public
- name: liboqs-java
  collaborators:
    jimouris: write
  teams:
    bots: write
    core: maintain
    liboqs-java-committers: write
    triage: triage
    tsc: read
  visibility: public
- name: liboqs-python
  teams:
    bots: write
    core: write
    liboqs-committers: write
    liboqs-maintainers: maintain
    liboqs-python-admins: admin
    triage: triage
    tsc: read
  visibility: public
- name: liboqs-rust
  teams:
    core: write
    liboqs-committers: write
    liboqs-maintainers: maintain
    rust: admin
    triage: triage
    tsc: read
  visibility: public
- name: libssh
  teams:
    core: write
    libssh-admins: admin
    libssh-maintainers: maintain
    triage: triage
    tsc: read
  visibility: public
- name: openssh
  teams:
    bots: write
    core: write
    openssh-committers: write
    triage: triage
    tsc: read
  visibility: public
- name: openssl
  teams:
    bots: write
    core: write
    triage: triage
    tsc: read
  visibility: public
- name: oqs-demos
  teams:
    bots: write
    core: write
    triage: triage
    tsc: read
  visibility: public
- name: oqs-provider
  teams:
    bots: write
    core: write
    liboqs-committers: write
    liboqs-maintainers: maintain
    oqs-provider-codeowners: write
    oqs-provider-committers: write
    triage: triage
    tsc: read
  visibility: public
- name: profiling
  teams:
    bots: write
    core: maintain
    triage: triage
    tsc: read
  visibility: public
- name: tsc
  teams:
    core: read
    triage: triage
    tsc: write
  visibility: public
- name: www
  teams:
    core: write
    triage: triage
    tsc: write
    www: write
  visibility: public
