teams:
# org owners
- name: org-owners
  maintainers:
  - ryjones
  - thelinuxfoundation

# admin access on all projects
- name: oqs-admins
  maintainers:
  - ryjones

# write access on all technical projects
- name: bots
  maintainers:
  - oqs-bot

# write access on TSC to post meeting minutes
- name: minute-takers
  maintainers:
  - dstebila

# Security managers
- name: security-managers
  maintainers:
  - dstebila
  members:
  - baentsch
  - bhess
  - brian-jarvis-aws
  - xuganyu96

# access to Trail of Bits audit project board
- name: trail-of-bits
  maintainers:
  - dstebila
  members:
  - fcasal
  - tob-scott-a

# A sensible default for projects without a clear list of Maintainers.
# Consists of TSC members who are maintainers of at least one active OQS subproject.
# TODO: add/update per-project GOVERNANCE.md files and remove this team.
- name: oqs-maintainers
  maintainers:
  - dstebila
  members:
  - baentsch
  - vsoftco
# A sensible default for projects without a clear list of Release Managers.
# TODO: add/update per-project GOVERNANCE.md files and remove this team.
- name: oqs-release-managers
  maintainers:
  - dstebila
  members:
  - baentsch
  - xuganyu96
  - vsoftco
  - ashman-p
# A sensible default for projects without a clear list of Committers.
# Mirrors the old "core" team.
# TODO: add/update per-project GOVERNANCE.md files and remove this team.
- name: oqs-committers
  maintainers:
  - dstebila
  members:
  - baentsch
  - bhess
  - christianpaquin
  - xuganyu96
  - vsoftco
# A sensible default for projects without a clear list of Contributors.
# TODO: add/update per-project GOVERNANCE.md files and remove this team.
- name: oqs-contributors
  maintainers:
  - dstebila
  members:
  - ajbozarth
  - ashman-p
  - alexrow
  - cothan
  - crockeea
  - feventura
  - geedo0
  - iyanmv
  - jimouris
  - jplomas
  - Martyrshot
  - pi-314159
  - planetf1
  - thomwiggers
  - h2parson
  - pablo-gf
  - RodriM11

# Technical Steering Committee
# https://github.com/open-quantum-safe/tsc/blob/main/README.md#members
- name: tsc
  maintainers:
  - dstebila
  members:
  - ashman-p
  - baentsch
  - bhess
  - christianpaquin
  - vsoftco

# liboqs Maintainers
# https://github.com/open-quantum-safe/liboqs/blob/main/GOVERNANCE.md#maintainers-1
- name: liboqs-maintainers
  maintainers:
  - dstebila
  members:
  - baentsch
# liboqs Committers
# https://github.com/open-quantum-safe/liboqs/blob/main/GOVERNANCE.md#committers-1
- name: liboqs-committers
  maintainers:
  - dstebila
  members:
  - baentsch
  - bhess
  - christianpaquin
  - Martyrshot
  - xuganyu96
  - vsoftco
# liboqs CODEOWNERS
# https://github.com/open-quantum-safe/liboqs/blob/main/.github/CODEOWNERS
- name: liboqs-codeowners
  maintainers:
  - dstebila
  members:
  - alexrow
  - ashman-p
  - baentsch
  - bhess
  - brian-jarvis-aws
  - cothan
  - Martyrshot
  - saitomst
  - xuganyu96

# oqs-provider Maintainers
# https://github.com/open-quantum-safe/oqs-provider/blob/main/GOVERNANCE.md#maintainers-1
- name: oqs-provider-maintainers
  maintainers:
  - baentsch
  - ashman-p
# oqs-provider Committers
# https://github.com/open-quantum-safe/oqs-provider/blob/main/GOVERNANCE.md#committers-1
- name: oqs-provider-committers
  maintainers:
  - baentsch
  members:
  - bhess
  - RodriM11
# oqs-provider CODEOWNERS
# https://github.com/open-quantum-safe/oqs-provider/blob/main/.github/CODEOWNERS
- name: oqs-provider-codeowners
  maintainers:
  - baentsch
  members:
  - alexrow
  - bhess
  - feventura
  - iyanmv
  - jplomas

# boringssl Maintainers
# TODO: provide "source of truth"
- name: boringssl-maintainers
  maintainers:
  - pi-314159

# openssh Release Managers
# TODO: provide "source of truth"
- name: openssh-release-managers
  maintainers:
  - dstebila
  members:
  - baentsch
  - geedo0
  - xuganyu96

# liboqs-cpp Maintainers
# TODO: provide "source of truth"
- name: liboqs-cpp-maintainers
  maintainers:
  - vsoftco
# liboqs-cpp Release Managers
# TODO: provide "source of truth"
- name: liboqs-cpp-release-managers
  maintainers:
  - vsoftco

# liboqs-go Maintainers
# TODO: provide "source of truth"
- name: liboqs-go-maintainers
  maintainers:
  - vsoftco
# liboqs-go Release Managers
# TODO: provide "source of truth"
- name: liboqs-go-release-managers
  maintainers:
  - vsoftco

# liboqs-python Maintainers
# TODO: provide "source of truth"
- name: liboqs-python-maintainers
  maintainers:
  - vsoftco
# liboqs-python Release Managers
# TODO: provide "source of truth"
- name: liboqs-python-release-managers
  maintainers:
  - vsoftco

# liboqs-java Maintainers
# TODO: provide "source of truth"
- name: liboqs-java-maintainers
  maintainers:
  - dstebila
  members:
  - jimouris

# liboqs-rust Maintainers
# TODO: provide "source of truth"
- name: liboqs-rust-maintainers
  maintainers:
  - thomwiggers
  members:
  - dstebila
  - vsoftco
# liboqs-rust Release Managers
# TODO: provide "source of truth"
# This team is tied to permissions on Crates.io: https://crates.io/teams/github:open-quantum-safe:liboqs-rust-release-managers
- name: liboqs-rust-release-managers
  maintainers:
  - thomwiggers
  members:
  - dstebila
  - xuganyu96
  - vsoftco

- name: liboqs-cupqc-maintainers
  maintainers:
   - oqs-maintainers
  members:
   - ydoroz
   - stevenireeves

repositories:
- name: .github
  teams:
    oqs-admins: admin
    security-managers: read
    tsc: read
  visibility: public

- name: tsc
  teams:
    oqs-admins: admin
    security-managers: read
    tsc: write
    minute-takers: write
  visibility: public

- name: liboqs
  teams:
    bots: admin
    oqs-admins: admin
    liboqs-maintainers: admin
    oqs-release-managers: maintain
    liboqs-committers: write
    liboqs-codeowners: write
    oqs-contributors: triage
    security-managers: read
    tsc: read
  visibility: public

- name: oqs-provider
  teams:
    oqs-admins: admin
    oqs-provider-maintainers: admin
    oqs-release-managers: maintain
    oqs-provider-committers: write
    oqs-provider-codeowners: write
    oqs-contributors: triage
    bots: write
    security-managers: read
    tsc: read
  visibility: public

- name: boringssl
  teams:
    oqs-admins: admin
    boringssl-maintainers: admin
    oqs-release-managers: maintain
    oqs-committers: write
    oqs-contributors: triage
    security-managers: read
    bots: write
    tsc: read
  visibility: public

- name: openssh
  teams:
    oqs-admins: admin
    oqs-maintainers: admin
    openssh-release-managers: maintain
    oqs-committers: write
    oqs-contributors: triage
    security-managers: read
    bots: write
    tsc: read
  visibility: public

- name: libssh
  teams:
    oqs-admins: admin
    oqs-maintainers: admin
    oqs-release-managers: maintain
    oqs-committers: write
    oqs-contributors: triage
    security-managers: read
    bots: write
    tsc: read
  visibility: public

- name: oqs-demos
  teams:
    oqs-admins: admin
    oqs-maintainers: admin
    oqs-release-managers: maintain
    oqs-committers: write
    oqs-contributors: triage
    security-managers: read
    bots: write
    tsc: read
  visibility: public

- name: profiling
  teams:
    oqs-admins: admin
    oqs-maintainers: admin
    oqs-release-managers: maintain
    oqs-committers: write
    oqs-contributors: triage
    security-managers: read
    bots: write
    tsc: read
  visibility: public

- name: ci-containers
  teams:
    oqs-admins: admin
    oqs-maintainers: admin
    oqs-release-managers: maintain
    oqs-committers: write
    oqs-contributors: triage
    security-managers: read
    bots: write
    tsc: read
  visibility: public

- name: liboqs-cpp
  teams:
    oqs-admins: admin
    liboqs-cpp-maintainers: admin
    liboqs-cpp-release-managers: maintain
    oqs-committers: write
    oqs-contributors: triage
    bots: write
    security-managers: read
    tsc: read
  visibility: public

- name: liboqs-go
  teams:
    oqs-admins: admin
    liboqs-go-maintainers: admin
    liboqs-go-release-managers: maintain
    oqs-committers: write
    oqs-contributors: triage
    bots: write
    security-managers: read
    tsc: read
  visibility: public

- name: liboqs-python
  teams:
    oqs-admins: admin
    liboqs-python-maintainers: admin
    liboqs-python-release-managers: maintain
    oqs-committers: write
    oqs-contributors: triage
    security-managers: read
    bots: write
    tsc: read
  visibility: public

- name: liboqs-rust
  teams:
    oqs-admins: admin
    liboqs-rust-maintainers: admin
    # Note that this team name is relied on by `crates.io`
    liboqs-rust-release-managers: maintain
    oqs-committers: write
    oqs-contributors: triage
    bots: write
    security-managers: read
    tsc: read
  visibility: public

- name: liboqs-dotnet
  teams:
    oqs-admins: admin
    oqs-maintainers: admin
    oqs-release-managers: maintain
    oqs-committers: write
    oqs-contributors: triage
    bots: write
    security-managers: read
    tsc: read
  visibility: public

- name: liboqs-java
  teams:
    oqs-admins: admin
    liboqs-java-maintainers: admin
    oqs-release-managers: maintain
    oqs-committers: write
    oqs-contributors: triage
    security-managers: read
    bots: write
    tsc: read
  visibility: public

- name: liboqs-cupqc-meta
  teams:
    oqs-admins: admin
    liboqs-maintainers: admin
    oqs-release-managers: maintain
    liboqs-cupqc-maintainers: write
    liboqs-committers: write
    oqs-contributors: triage
    security-managers: read
    bots: write
    tsc: read
  visibility: public

# No Release Managers team as there are no releases for this project.
- name: www
  teams:
    oqs-admins: admin
    oqs-maintainers: admin
    oqs-committers: write
    oqs-contributors: triage
    bots: write
    security-managers: read
    tsc: read
  visibility: public

# TODO: This project is dead and probably should be read-only.
- name: openssl
  teams:
    oqs-admins: admin
    oqs-maintainers: admin
    security-managers: read
    tsc: read
  visibility: public
